<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GGame小游戏</title>
    <% include ./ui/meta.ejs%>
</head>
<body style="text-align: center">
    <h3>请使用手机扫一扫，咱们网站是移动端的~</h3>
    <img src="/link.png" />
    <p style="color: rosybrown">更多H5小游戏，尽在二维码里...</p>
    <script type="text/javascript">
        /*500*200 创建于 2016-03-22*/
        var cpro_id = "u2570693";
    </script>
    <script src="http://cpro.baidustatic.com/cpro/ui/c.js" type="text/javascript"></script>

</body>

</html>